<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
<div class="container">

    <header>TODOS FOR TODAY</header>
    <form th:action="@{/todo}" method="post">
        <div class ="form-group">
            <label for="newTodo">New Todo:</label>
            <input type="text" id="newTodo" name="newTodo" required autofocus/>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ACTION</th>
            <th scope="col">DONE</th>
            <th scope="col">URGENT</th>
            <th scope="col">ASSIGNEE</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td  scope="row" th:text="${todo.getId()}"></td>
            <td th:text="${todo.getName()}"></td>
            <td>
                <form th:action="@{/reverseDone}" method="post">
                    <input type="hidden" th:value="*{todo.getId()}" name="todoId" required>
                    <input th:if="${todo.isComplete()}" type="image" src="assets/img/bootstrap-icons-1.0.0/check.svg" alt="" width="32" height="32" title="Bootstrap">
                    <input th:unless="${todo.isComplete()}" type="image" src="assets/img/bootstrap-icons-1.0.0/x.svg" alt="" width="32" height="32" title="Bootstrap">
                </form>
            </td>
            <td>
                <form th:action="@{/reverseUrgent}" method="post">
                    <input type="hidden" th:value="*{todo.getId()}" name="todoId" required>
                    <input th:if="${todo.isUrgent()}" type="image" src="assets/img/bootstrap-icons-1.0.0/check.svg" alt="" width="32" height="32" title="Bootstrap">
                    <input th:unless="${todo.isUrgent()}" type="image" src="assets/img/bootstrap-icons-1.0.0/x.svg" alt="" width="32" height="32" title="Bootstrap">
                </form>
            </td>
            <td>
                <div th:if="${todo.getAssignee() == null}">
                <form th:action="@{/todo/setassignee}" method="post">
                    <label for="assignee"></label>
                    <select id="assignee" name ="assignee">
                        <option th:each="assignee : ${assignees}" th:text="${assignee.getName()}" th:value="${assignee.getAssId()}"></option>
                    </select>
                    <input type="hidden" th:value="*{todo.getId()}" name="todoId" required>
                    <button type="submit">Add</button>
                </form>
                </div>
                <p th:unless="${todo.getAssignee() == null}" th:text="${todo.getAssignee().getName()}"></p>
            </td>
            <td>
                <form th:action="@{'/delete?id=' + ${todo.getId()}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/complete?id=' + ${todo.getId()}}" method="post">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>