<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="navbar">
        <ul>
            <li>
                <a th:href = "@{'/?name=' + ${name}}">Information</a>
            </li>
            <li>
                <a th:href = "@{'/nutstore/?name=' + ${name}}">Nutrition Store</a>
            </li>
            <li>
                <a th:href="@{'/trickcenter/?name=' + ${name}}">Trick Center</a>
            </li>
            <li>
                <a th:href="@{'/actionhistory/?name=' + ${name}}">Action History</a>
            </li>
            <li>
                <a th:href="@{'/'}">Log out</a>
            </li>
        </ul>
    </div>
</body>
</html>