<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <ul>
        <li>
            <a href="/login">Log in</a>
        </li>
    </ul>
    <img src="https://raw.githubusercontent.com/green-fox-academy/teaching-materials/master/project/programmer-fox-club/assets/greenfox.png?token=AQDY7A252D3SQ3DPZPSIWRS7LH6F6" title="fox" width=200 height= 200 alt="Mr. Fox">
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h1>Known tricks</h1>
    <ul id="tricks">
        <li>
            <p>write HTML</p>
        </li>
        <li>
            <p>code in Java</p>
        </li>
    </ul>
</body>
</html>